/* ================= LOGIN PAGE ================= */

.login-body {
    background: linear-gradient(135deg, #1e3a8a, #1e40af);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 100%;
    padding: 20px;
}

.login-card {
    background: #ffffff;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.login-title {
    font-weight: 600;
    color: #1e3a8a;
    text-align: center;
}

.login-subtitle {
    font-size: 0.9rem;
    text-align: center;
    color: #6b7280;
    margin-bottom: 25px;
}

.custom-input {
    border-radius: 8px;
    padding: 10px;
}

.login-btn {
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 576px) {

    .login-card {
        padding: 25px;
    }

    .login-title {
        font-size: 1.4rem;
    }
}



body {
   font-family: 'Poppins', sans-serif;
   background-color: #f8f9fc;
}

.dashboard-card {
    border-radius: 12px;
}

.dashboard-card h2 {
    font-weight: bold;
    margin-top: 10px;
}

.map-container {
    height: 450px;
    border-radius: 12px;
}

/* Bus Icon */
.bus-icon {
    width: 50px;
    height: 50px;
    transition: filter 0.3s ease;
}

/* Green */
.green {
    filter: invert(43%) sepia(96%) saturate(500%) hue-rotate(90deg);
}

/* Red */
.red {
    filter: invert(23%) sepia(98%) saturate(700%) hue-rotate(-10deg);
}

#map { 
    height: 400px;
    border-radius: 12px;
}

/* =========================
   BOOKING MANAGEMENT PAGE
========================= */

.booking-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.filter-row {
    margin-bottom: 20px;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.badge {
    font-size: 0.85rem;
    padding: 6px 10px;
    border-radius: 8px;
}

.btn-sm {
    padding: 4px 10px;
    font-size: 0.8rem;
}