/* ================= LOGIN PAGE ================= */

.login-body {
    background: linear-gradient(135deg, #1e3a8a, #1e40af);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 100%;
    padding: 20px;
}

.login-card {
    background: #ffffff;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.login-title {
    font-weight: 600;
    color: #1e3a8a;
    text-align: center;
}

.login-subtitle {
    font-size: 0.9rem;
    text-align: center;
    color: #6b7280;
    margin-bottom: 25px;
}

.custom-input {
    border-radius: 8px;
    padding: 10px;
}

.login-btn {
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
}

/* ================= LOGIN TOP LEFT LOGO ================= */

.login-header-vertical {
    text-align: left;
    margin-bottom: 25px;
}

.login-logo-top {
    width: 70px;       /* adjust size here */
    height: auto;
    object-fit: contain;
}

/* Title */
.login-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #1e3a8a;   /* royal blue */
    margin: 0;
}

/* Subtitle */
.login-subtitle {
    font-size: 0.9rem;
    color: #6b7280;
    margin: 0;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 576px) {

    .login-card {
        padding: 25px;
    }
    .login-logo-top {
        width: 55px;
    }
    .login-title {
        font-size: 1.4rem;
    }
}


